body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
    background: grey;
}

.container {
    display: flex;
    width: 954px;
    height: 594px;
}

.container__rectangle1 {
    width: 609px;
    height: 594px;
    background: #BE0909;
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.25);
}

.container__rectangle2 {
    width: 345px;
    height: 594px;
    background: #FFB039;
}

.image {
    position: absolute;
    width: 663px;
    height: 603px;
    left: 585px;
    top: 205px;
}